{% extends "base.html" %}

{% block content %}
    <table class="table">
        <tr class="table-header">
            <th class="table-cell">Item</th>
            <th class="table-cell">Price</th>
            <th class="table-cell">Delivery Available?</th>
        </tr>
        {% for items in items %}
            <tr class="table-row">
                <td class="table-cell">{{ items.item }}</td>
                <td class="table-cell">${{ items.price }}</td>
                <td class="table-cell">{{ items.delivery}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}